<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incremental game</title>
</head>
<body>

<div id="root">
    Main layout here, include feature below

    <h2>Gamestate: <span data-bind="text: state"> </span>!</h2>

    <h2>100 money requirement completed: <span data-bind="text: App.game.wallet.requirement.isCompleted()"> </span>!</h2>


    <h2>Example setting: <span data-bind="text: settings.getSetting('exampleSetting').value"> </span>!</h2>
    <button data-bind="click: () => settings.getSetting('exampleSetting').toggle()">Toggle setting</button>

    <%= require('html-loader!./features/example/example.html') %>
    <%= require('html-loader!./features/wallet/wallet.html') %>

    <button data-bind="click: () => save()">Save</button>

    <h2>Totalmoney statistic: <span data-bind="text: statistics.getStatistic('totalMoneyGained').value"> </span>!</h2>

</div>
</body>
</html>
